.button1{
  background-color: rgb(203, 6, 6);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.button2{
  background-color: white;
  color: #224aec;
  padding: 9px 15px;
  border: 1px solid #224aec;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 8px;
  margin-left: 8px;
    cursor: pointer;
}

.button2:hover{
  background-color: #224aec;
    color: white;
}
.button3{
  background-color: #46a3ef;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
}

.button3:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}