.header{
  margin-bottom: 10px;
   height: 55px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.section1{
 background-color: lightcoral;
 width: 170px;
 margin-right: 30px;
}

.section2{
  background-color: lightblue;
  flex: 1;
  max-width: 300px;
}

.section3{
  background-color: lightcyan;
  width: 220px;
  margin-left: 60px;
}

