.header{
  margin-bottom: 25px;
   height: 55px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.section1{
 width: 170px;
 margin-right: 8px;
}

.section2{
  flex: 1;
  max-width: 405px;
  display: flex;
  align-items: center;
}

.section3{
  width: 200px;

    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
    flex-shrink: 0;
}

