.sidebar{
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 101;
  padding-top: 4px;
}

.header{
  z-index: 100;
}

.sidebar img{
  height: 24px;
  margin-bottom: 6.5px;
}

.box1{

  width: 100%;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box1:hover{
  background-color: rgba(211, 211, 211, 0.566);
  cursor: pointer;
}

.image-text{
  font-size: 10px;
}

.image-text-music{
  font-size: 12px;
  display: flex;
  text-align: center;
  align-items: center;
}