*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.thumbnail{
  width: 336px;
  display: block;

}

.search-bar{
  padding: 10px;
  display: block;
}

.title{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.author{
  margin-bottom: 3px;
    font-size: 12px;

}
.views{
    font-size: 12px;

}

.parentDiv{
  display: flex;
}
.container{
  width: 336px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  padding: 20px;
}

.nestedContainer2{
  margin-top: 10px;
  display: flex;
}

.profileDiv{
  display: inline-block;
  /* margin-right: 10px; */
  width: 15%;
}
.channelProfile{
  width: 35px;
  border-radius: 50%;
}

.infoDiv{
  font-size: 14px;
  width: 85%;
}


