*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.thumbnail{
  width: 100%;
}



.title{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.author{
  margin-bottom: 3px;
    font-size: 12px;

}
.views{
    font-size: 12px;

}

.parentDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
.container{
  width: 100%;
  margin-right: 10px;
  vertical-align: top;
}

.nestedContainer2{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
/* 
.profileDiv{
  display: inline-block;
  width: 15%;
} */
.channelProfile{
  width: 35px;
  border-radius: 50%;
}

/* .infoDiv{
  font-size: 14px;
  width: 85%;
} */


