*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.thumbnail{
  width: 100%;
}



.title{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.author{
  margin-bottom: 3px;
    font-size: 12px;

}
.views{
    font-size: 12px;

}

.parentDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
.container{
  width: 100%;

}

.nestedContainer2{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
/* 
.profileDiv{
  display: inline-block;
  width: 15%;
} */
.channelProfile{
  width: 35px;
  border-radius: 50%;
}

/* .infoDiv{
  font-size: 14px;
  width: 85%;
} */

.section1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 9px;
}

.hamburgIcon{
  height: 23px;
  margin-right: 7px;
}

.youtubeIcon{
  height: 20px;
}


.search-bar::placeholder{
  font-family: Roboto;
  font-size: 16px;

}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 15px;
    border: 1px solid rgba(192, 192, 192);
  border-radius: 2px;
  width: 0;
  min-width: 50px;
}


.search-bar:focus{
  border: solid 1px rgb(29, 123, 231);
  outline: none;
}

.searchButton{
  height: 37px;
  width: 66px;
  margin-right: 10px;
  margin-left:-2px;
  border: 1px solid rgba(192, 192, 192);
}

.voiceSearch{
  height: 37px;
  width: 37px;
  background-color: rgba(128, 128, 128, 0.166);
  border-radius: 50%;
  border: none;
}

.image1{
  margin-top: 3px;
  height: 65%;
  width: 65%;
}

.image2{
  height: 65%;
  width: 65%;
    margin-top: 3px;
}

.section3{


}

.sec3Icons{
  width: 23px;
}

.myChannel{
  width: 32px;
}

